{% extends 'components/base.html' %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">

  <h1 class="text-center mt-4">Confirm Access</h1>

  <form action="" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="card mx-auto" style="width: 25rem;">
          <div class="card-body">
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Enter</button>
          </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}