{% extends 'components/base.html' %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 style="margin: 1rem;" class="text-center">Your wallpapers in one place</h1>
    <hr>
    <div class='row'>
        {% for object in objects %}
            <div class="col-2">
                <a href="{% url 'detail' object.id %}">
                    <div class="card text-bg-dark">
                        <img src="/media/{{object.thumbnail}}" class="card-img" alt="...">
                        <div class="card-img-overlay">
                        <h5 class="card-title">{{object.title}}</h5>
                        <p class="card-text">{{object.description}}</p>
                        <p class="card-text"><small>{{object.date_added | timesince}}</small></p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>


{% endblock %}